/*Style CSS perso*/
body {
  margin: 0;
  font-size: 14px;
  line-height: 1.4;
  font-family: 'Merriweather Sans', sans-serif;
  color: #777777;
  background-color: #313131;
}
/*DEBUT CSS AJUSTEMENT CONTENU*/
.container {
  max-width: 960px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #dedede;
  background-color: #fff;
}
.row2 {
  margin-right: 25px;
  margin-left:  25px;
  margin-top:  30px;
}
.content {
  margin-top:  30px;
  padding-top: 20px;
}
/*FIN CSS AJUSTEMENT CONTENU*/
/*DEBUT DU CSS DU NAVBAR*/
.navbar-default {
  margin: 0px 70px;
  border-top-right-radius: 0px !important;
  border-top-left-radius: 0px !important;
  border-bottom-right-radius: 4px !important;
  border-bottom-left-radius: 4px !important;
}
.name  {
  font-size: 30px;
  color: #ea7600 !important;
  font-weight: bold;
  margin-right: 15px;
}
/*FIN DU CSS DU NAVBAR*/
/*DEBUT DU CSS POUR LE CAROUSEL*/
.carousel {
  margin: 0px 15px;
  border: 10px solid #ffffff;
  border-radius: 5px;
}
/*FIN DU CSS POUR LE CAROUSEL*/
/* DEBUT DU CSS FOOTER */
.footer {
  color: #ffffff;
  min-height: 20px;
  padding: 19px 19px;
  margin-bottom: 0px;
  margin: 0px 54px;
  background-color: #ea7600;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
.footer .right{
  float: right;
}
/* FIN DU CSS FOOTER */

/* DEBUT DU CSS POUR RENDRE RESPONSIVE GMap */
.map-responsive{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}
.map-responsive iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}
/* FIN DU CSS POUR RENDRE RESPONSIVE GMap */
/* DEBUT DU CSS POUR LE SIDEBAR */
.sidebar {
  min-height: 20px;
  /*  padding: 19px 19px;*/
  margin-bottom: 20px;
  background-color: #ffffff;
  /*  border: 1px solid #e3e3e3;*/
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
.sidebar blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, .15);
}
.sidebar-lg {
  padding: 24px;
  border-radius: 6px;
}
.sidebar-sm {
  padding: 9px;
  border-radius: 3px;
}
.sidebar .panel {
  border-style: none !important;
}
.sidebar .panel > .panel-heading > h3.panel-title {
  font-family: 'Economica', sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.sidebar .panel-heading {
  background-color: #ea7600;
  color: #f0f0f0;
  border-bottom: 1px solid #ce6700;
}
/* FIN DU CSS POUR LE SIDEBAR */
/* DEBUT DU CSS POUR LE BLOC NEWS */
.news {
  min-height: 20px;
  padding: 19px 19px;
  margin-bottom: 20px;
  background-color: #ffffff;
  background-repeat: no-repeat;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
.news h1{
  text-align: center;
}
.news blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, .15);
}
.news h1{
  text-align: center;
}
.news h4{
  text-align: center;
  font-style : italic;
}
.news .btn-default {
  color: #777777;
  background-color: #ffffff;
  border-color: #cccccc;
}
.news.btn-default:focus,
.news .btn-default.focus {
  color: #777777;
  background-color: #e6e6e6;
  border-color: #8c8c8c;
}
.news .btn-default:hover {
  color: #777777;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.news .btn-default:active{
  color: #777777;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.news .btn-color {
  color: #ffffff;
  background-color: #ea7600;
  border-color: #ce6700;
}
.news.btn-color:focus,
.news .btn-color.focus {
  color: #ffffff;
  background-color: #ce6700;
  border-color: #ea7600;
}
.news .btn-color:hover {
  color: #ffffff;
  background-color: #ce6700;
  border-color: #ea7600;
}
.news .btn-color:active{
  color: #ffffff;
  background-color: #ce6700;
  border-color: #ea7600;
}
.news p{
  text-align:justify;
}
.news-lg {
  padding: 24px;
  border-radius: 6px;
}
.news-sm {
  padding: 9px;
  border-radius: 3px;
}
/* FIN DU CSS POUR LE BLOC NEWS */
/* DEBUT DU CSS POUR LES BLOCS DE CREATION */
.product-box {
  display:inline-block;
  position:relative;
  margin: 0px 31px;
}
.cap-text {
  position: absolute;
  background-color: rgba(15, 15, 15, 0.93);
  color: #fff;
  bottom: 0px;
  text-align: left;
  padding: 20px 15px 20px 15px;
  width:100%;
}
.cap-title {
  position: absolute;
  bottom: 80px;
  text-align: left;
  z-index: 15;
  padding-top: 5px;
  padding-bottom: 5px;
  color: #fff;
  padding-left: 20px;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
  background-color: rgba(234, 118, 0, 0.93);
  width: 100%;
}
.cap-title {
  width:100%;
}
/* FIN DU CSS POUR LES BLOCS DE CREATION */