/*essai css*/

body {
    margin: 0;
    font-size: 14px;
    line-height: 1.4;
    font-family: synthese,helvetica,arial,sans-serif;
    color: #222;
    background-color: #f4f4f4;
}

.container {
    max-width: 960px;
    margin: 40px auto;
    padding: 20px;
    border: 1px solid #dedede;
    background-color: #fff;
}

.header {
    display: table;
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #dedede;
    background-color: #fff;
}

.header_logo {
    width: 116px;
    margin-top:  10px;

    
}

.row2 {
    margin-right: 25px;
    margin-left:  25px;
    margin-top:  30px;
}

.content {
	padding-top: 20px;
    border: 1px solid #dedede;
    background-color: #fff;
}

.circle{

    padding-left: 30%;
    padding-bottom: 30px;

}

.footer {
    width: auto;
    background-color: #fff;
    border: 1px solid #dedede;
    margin-top: 30px;
    padding-top: 20px;
    padding-left: 45px;
    height: 50px;
    border-bottom: 0
}

.infos{

    width: 100%;
    padding-bottom: 30px;
    padding-right: 0;

}

